[submodule "CSEE5590-Group1-Labs"]
	path = CSEE5590-Group1-Labs
	url = https://github.com/benamreview/CSEE5590-Group1-Labs
	branch = master
[submodule "CSEE5590-Group1-Project"]
	path = CSEE5590-Group1-Project
	url = https://github.com/benamreview/CSEE5590-Group1-Project
	branch = master
